$sub-color: rgb(168, 168, 168);
$main-color: black;

.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $sub-color;
    background-color: white;
    top: 80px;
    right: 0px;
    z-index: 5;

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
            background: $sub-color;
            border-radius: 0 10px 10px 0;
        }

        &::-webkit-scrollbar-thumb {
            background: $main-color;
            border-radius: 0 10px 10px 0;
        }
    }

    .custom-button {
        margin-top: auto; //the highest margin-top// it would go down as much as it can
    }

    
}